<div class ="homepage">
  <p>Welcome to the Cookbook!</p>
  <p>What do you want to do next?</p>
    <button type="button" class="btn btn-primary"><a href="list">List all recipes</a></button>
    <button type="button" class="btn btn-primary"><a href="create">Create a new recipe</a></button>
    <button type="button" class="btn btn-primary"><a href="destroy">Destroy a recipe</a></button>
    <button type="button" class="btn btn-primary"><a href="import">Import recipes from BBC Good Food</a></button>
    <button type="button" class="btn btn-primary"><a href="toggle">Toggle whether you have made a recipe</a></button>
</div>
