<p>Welcome to the Cookbook!</p>
<p>What do you want to do next?</p>

<ul>
  <li><a href="list">List all recipes</a></li>
  <li><a href="create">Create a new recipe</a></li>
  <li><a href="destroy">Destroy a recipe</a></li>
  <li><a href="import">Import recipes from BBC Good Food</a></li>
  <li><a href="toggle">Toggle whether you have made a recipe</a></li>
</ul>
